    @media(max-width: 600px){

        .background__container{
            background-image: url('../img/Background.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            height: 100vh;
            width: 100vw;
        }

    }

